@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --color-orange: hsl(31, 77%, 52%);
    --color-cyan: hsl(184, 100%, 22%);
    --color-dark-cyan: hsl(179, 100%, 13%);
    --color-white: hsla(0, 0%, 100%, 0.75);
    --color-grey: hsl(0, 0%, 95%);
}

* {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5625rem;
    color: var(--color-white);
    background-color: var(--color-grey);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: var(--color-grey);
    margin-bottom: 1.56rem;
}

p {
    margin-bottom: 1.56rem;
}

a {
    font-size: 0.9375rem;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5625rem;
    width: 9.125rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: var(--color-grey);
}

.sedans a {
    color: var(--color-orange); 
}

.suvs a {
    color: var(--color-cyan);
}

.luxury a {
    color: var(--color-dark-cyan);
}

a:hover, a:focus {
    background-color: inherit;
    outline: 2px solid var(--color-grey);
    color: var(--color-grey);
}

img {
    margin-bottom: 2.1875rem;
}

main {
    display: grid;
    grid-template-areas: 
    'one'
    'two'
    'three';
    border-radius: 8px;
    width: min(100vw - 3rem, 57.5rem);
    overflow: hidden;
    margin-block: 5.5rem;
}

article {
    padding: 3rem;
}

.sedans {
    background-color: var(--color-orange);
    grid-area: one;
}

.suvs {
    background-color: var(--color-cyan);
    grid-area: two;
}

.luxury {
    background-color: var(--color-dark-cyan);
    grid-area: three;
}

@media (min-width: 850px) {
    main {
        grid-template-areas: 'one two three';
        margin-block: 0;
    }

    p {
        margin-bottom: 5.19rem;
    }
}

